@import './../../index.scss';


.navbar {
    background-color: $navBG !important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0,0.50);
    font-weight: 600;
}


// .Link {
//     background-color: $linkBG !important;
// }